%tr
  %td= elo_user.id
  - if elo_user.active?
    %td= link_to elo_user.login, user_information_path(elo_user.id), remote: true
  - else
    %td.warning= elo_user.login
  %td= elo_user.email
  %td= elo_user.name

