%div.col-md-2
%div.col-md-8
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'form-horizontal', role: 'form'}) do |f|
    = devise_error_messages!
    %form.form-horizontal{ role: "form" }
      %div.form-group
        = f.label :email, class: 'col-sm-4 control-label'
        %div.col-sm-8
          = f.email_field :email, autofocus: true, class: 'form-control'
      %div.form-group
        = f.label :password, class: 'col-sm-4 control-label'
        %div.col-sm-8
          = f.password_field :password, class: 'form-control', autocomplete: "off"
          %i (leave blank if you don't want to change it)
          - if @minimum_password_length
            %br/
            %em
              = @minimum_password_length
              characters minimum
      %div.form-group
        = f.label :password_confirmation, class: 'col-sm-4 control-label'
        %div.col-sm-8
          = f.password_field :password_confirmation, class: 'form-control', autocomplete: "off"
      %div.form-group
        = f.label :current_password, class: 'col-sm-4 control-label'
        %div.col-sm-8
          = f.password_field :current_password, class: 'form-control', autocomplete: "off"
          %i (we need your current password to confirm your changes)

      %div.form-group
        %div.col-sm-offset-4.col-sm-8
          = f.submit 'Update', class: 'btn btn-primary'
          = link_to "Back", :back, class: 'btn btn-danger'
%div.col-md-2