%div.col-md-12
  %div.col-md-4
    %row
      %h3.text-success
        = date_field "status_report", "date", 'data-date-format': "yyyy-mm-dd", class: "form-control data-select", onchange: "SendDate(this);", value: @date
  %div.col-md-8
%div.col-md-12
  %div.col-md-4.scrolling
    %table.table.table-striped
      %thead
        %tr
          %th
          %th.time
      %tbody.tbody-groups
        - r = ''
        - @list.each do |e|
          %tr
            - if "#{r}" != "#{e['name']}"
              %td
                - r = e['name']
                = link_to e['name'], show_file_path(e['id']), remote: true, onclick: "showSpinner();"
                - unless @list_kwit.nil?
                  - @list_kwit.each do |k|
                    - if e['name'] == k['name'] && !k['kwit'].nil?
                      = link_to k['kwit'], show_file_path(k['id_kwit']), remote: true, onclick: "showSpinner();"
              %td.time
                = e['time']
                - unless @list_kwit.nil?
                  - @list_kwit.each do |k|
                    - if e['name'] == k['name'] && !k['kwit'].nil?
                      = k['kwit_date']
  %div.col-md-8.file-details

:javascript
  function SendDate(e) {
    document.getElementsByClassName('file-details')[0].innerHTML = "";
    var url = "print?date=" + e.value;
    $('#page-preloader').show();
    window.location = url;
  }
  var ua = window.navigator.userAgent;
  var msie = ua.indexOf("MSIE ");
  if((navigator.userAgent.toLowerCase().indexOf('firefox') > -1) || (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))){
    $('#status_report_date').datepicker();
  }

  function showSpinner() {
    document.getElementsByClassName('file-details')[0].innerHTML = '';
    $('#page-preloader').show();
  }