%div.col-md-12
  %div.col-md-3
    %row
      %h3.text-success
        Счетчик файлов
    %row
      %h3.text-success
        = date_field "status_report", "date", class: "form-control data-select", onchange: "SendDate(this);", value: @date
  %div.col-md-3
    = render 'table_with_counts', title: '211/311 Положение',
                                  count_ptkpsd_in: @f311_count_ptkpsd_in,
                                  count_ptkpsd_out: @f311_count_ptkpsd_out,
                                  count_ptkpsd_in_error: @f311_count_ptkpsd_in_error,
                                  count_arj_in: @f311_count_arj_in,
                                  count_arj_out: @f311_count_arj_out,
                                  count_in: @f311_count_in,
                                  count_out: @f311_count_out,
                                  count_arj_system_in: @f311_count_arj_system_in,
                                  count_arj_system_out: @f311_count_arj_system_out,
                                  count_diasoft_in: 0
  %div.col-md-3
    = render 'table_with_counts', title: '440 Положение',
                                  count_ptkpsd_in: @f440_count_ptkpsd_in,
                                  count_ptkpsd_out: @f440_count_ptkpsd_out,
                                  count_ptkpsd_in_error: @f440_count_ptkpsd_in_error,
                                  count_arj_in: @f440_count_arj_in,
                                  count_arj_out: @f440_count_arj_out,
                                  count_in: @f440_count_in,
                                  count_out: @f440_count_out,
                                  count_arj_system_in: @f440_count_arj_system_in,
                                  count_arj_system_out: @f440_count_arj_system_out,
                                  count_diasoft_in: @f440_count_diasoft_in
  %div.col-md-3
    = render 'table_with_counts', title: '550 Положение',
                                  count_ptkpsd_in: @f550_count_ptkpsd_in,
                                  count_ptkpsd_out: @f550_count_ptkpsd_out,
                                  count_ptkpsd_in_error: @f550_count_ptkpsd_in_error,
                                  count_arj_in: @f550_count_arj_in,
                                  count_arj_out: @f550_count_arj_out,
                                  count_in: @f550_count_in,
                                  count_out: @f550_count_out,
                                  count_arj_system_in: @f550_count_arj_system_in,
                                  count_arj_system_out: @f550_count_arj_system_out,
                                  count_diasoft_in: 0
%div.col-md-12
  %div.panel-group#panel-668960
    %div.panel.panel-default
      %div.panel-heading
        = link_to "311 положение", "#panel-element-221956", { "data-toggle": "collapse", "data-parent": "#panel-668960" }
      %div.panel-collapse.collapse#panel-element-221956
        %div.panel-body
          = render 'table_with_list', f_out: @f311_out,
                                      f_in: @f311_in
    %div.panel.panel-default
      %div.panel-heading
        = link_to "440 положение", "#panel-element-811053", { "data-toggle": "collapse", "data-parent": "#panel-668960" }
      %div.panel-collapse.collapse#panel-element-811053
        %div.panel-body
          = render 'table_with_list', f_out: @f440_out,
                                      f_in: @f440_in
    %div.panel.panel-default
      %div.panel-heading
        = link_to "550 положение", "#panel-element-221256", { "data-toggle": "collapse", "data-parent": "#panel-668960" }
      %div.panel-collapse.collapse#panel-element-221256
        %div.panel-body
          = render 'table_with_list', f_out: @f550_out,
                                      f_in: @f550_in

:javascript
    function SendDate(e) {
      var url = "status_report?date=" + e.value;
      window.location = url;
    }