
- if @elo_usr_protocol.count == 0
  %h2 Протокол пользователя пуст
- else
  %div.row
    %div.col-md-12
      %table.table.table-condensed
        %tbody.short_table
          - @elo_usr_protocol.each do |p|
            %tr
              %td.time
                = p.TIME_.to_s(:db)
              %td= p.OBJECT_
              %td= p.JOB_
  %div.row
    %form.form-horizontal{ role: "form" }
      %div.col-md-6
        %div.form-group
          %label.col-sm-4.control-label
            ФИО
          %div.col-sm-8
            %input.form-control{ value: "#{@name}", disabled: true }
      %div.col-md-6
        %div.form-group
          %label.col-sm-4.control-label
            email
          %div.col-sm-8
            %input.form-control{ value: "#{@email}", disabled: true }
