%div.row
  %div.row
    %form.form-horizontal{ role: "form" }
      %div.col-md-6
        %div.form-group
          %label.col-sm-4.control-label
            ФИО
          %div.col-sm-8
            = @name
      %div.col-md-6
        %div.form-group
          %label.col-sm-4.control-label
            email
          %div.col-sm-8
            = @email
  - if @user.elo_usr_protocol.count == 0
    %h2 Протокол пользователя за последние 2 недели пуст
  - else
    %h3 Протокол пользователя за последние 2 недели
  %div.row
    %div.col-md-12
      %table.table.table-condensed
        %tbody.short_table
          - @user.elo_usr_protocol.each do |p|
            %tr
              %td.time
                = p.TIME_.to_date
              %td= p.OBJECT_
              %td= p.JOB_
  -#%div.row
  -#  %div.col-md-12
  -#    %table.table.table-condensed
  -#      %tbody.short_table
  -#        - @user.elo_usr_errs.each do |p|
  -#          %tr.danger
  -#            %td.time
  -#              = p.TIME_.to_date
  -#            %td= p.MODUL
  -#            %td= p.ERRTEXT