- if @elo_usr_protocol.count == 0
  %h2 Протокол пользователя пуст
- else
  %h2= "Протокол пользователя { #{@id} }"
  %div.row
    %div.col-md-12
      %table.table.table-condensed
        %tbody.short_table
          - @elo_usr_protocol.each do |p|
            %tr
              %td.time
                = p.TIME_.to_s(:db)
              %td= p.OBJECT_
              %td= p.JOB_

